@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import "tailwindcss";
 root {
   --color-primary: #0091d9;
 }
@theme {
  --color-primary: #0091d9;
}
html {
  scroll-behavior: smooth;
}
